@media (max-width:1200px){
    .career{
        width: 80%;
        height: auto;
        margin: 40px auto;
        aspect-ratio: 1/1;
    }
}

/* @media (max-width:568px){

    .whisky-jazz .whisky-jazz-content h2{
        line-height: 2rem;
        font-size: 1.8rem;
    }

} */

@media (max-width:568px){

    .whisky-jazz .whisky-jazz-images img {
        width: 87%;
    }
}

@media (max-width: 768px){
    .whisky-jazz .whisky-jazz-content{
        padding-left: 12px;
        padding-right: 12px;
    }
}